body {
    background-repeat: no-repeat;
    background-size: auto;
    background-color: rgb(24, 24, 24);
}

.aboutMe {
    text-align: center;
    position: relative;
    color: white;
    font-family: 'Megrim', cursive;
    font-size: 70px;
    font-weight: bolder;
}

.image {
    height: 350px;
    left: 40%;
    position: relative;
}

.textBody {
    margin-top: 18px;
    text-align: center;
    float: left;
    color: white;
    font-family: 'Jura', sans-serif;
    line-height: 2.4;
    margin-left: 8%;
    margin-right: 8%;
}

.navbar {
    padding: 0 !important;
    margin-bottom: 32px !important;
    padding-bottom: 0px !important;
    margin-left: 15px !important;
}

.navbar-brand {
    font-weight: bolder;
}

.card {
    margin: 3%;
    background-color: rgb(34, 34, 34);
    color: white
}

.card-img-top {
    width: 100%;
    height: 25vw;
    object-fit: cover;
}

.card-deck {
    margin: 2%;
}

.resume {
    position: relative;
    left: 45%;
}

#button1 {
  border-style: solid;
  border-color: black;
  width: auto;
}

#button2 {
  border-style: solid;
  border-color: black;
  width: auto;
}

.needs-validation {
    color: white;
    margin: 3%;
}

.was-validated {
    color: white;
    margin: 3%;
}

#icons {
    color:rgb(28, 207, 198);
    position: relative;
    left: 38%;
    bottom: 0;
    width: 100%;
}

#instaIcon {
    padding: 1%;
}

#facebookIcon {
    padding: 2%;
}

#githubIcon {
    padding: 2%;
}

#linkedinIcon {
    padding: 2%;
}

a {
    color:rgb(28, 207, 198);
}

a:hover {
    color:rgb(20, 150, 143);
}


/* got effect from https://www.codingnepalweb.com/2020/05/text-glitch-effect-in-html-css.html */
/* I changed a few aspects of the code to reflect how I wanted it to be shown on the page */
.content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .content .text{
    position: relative;
    color: color:rgb(28, 207, 198);;
    font-weight: 650;
    font-size: 30px;
    transform: scale(2);
    padding: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  .content .text:before,
  .content .text:after {
    padding: 30px;
    color: white;
    content: attr(data-text);
    position: absolute;
    width: 100%;
    height: 100%;
    background:  rgb(24, 24, 24);;
    overflow: hidden;
    top: 0;
  }
  .content .text:before{
    left: 3px;
    text-shadow: -2px 0 red;
    animation: glitch-1 2s linear infinite reverse;
  }
  .content .text:after{
    left: -3px;
    text-shadow: -2px 0 blue;
    animation: glitch-2 2s linear infinite reverse;
  }
  @keyframes glitch-1 {
    0% {
      clip: rect(132px, auto, 101px, 30px);
    }
    5% {
     clip: rect(132px, auto, 101px, 30px);
    }
    10% {
        clip: rect(132px, auto, 101px, 30px);
    }
    15% {
        clip: rect(132px, auto, 101px, 30px);
    }
    20% {
        clip: rect(132px, auto, 101px, 30px);
    }
    25% {
        clip: rect(132px, auto, 101px, 30px);
    }
    30% {
        clip: rect(132px, auto, 101px, 30px);
    }
    35% {
        clip: rect(132px, auto, 101px, 30px);
    }
    40% {
        clip: rect(132px, auto, 101px, 30px);
    }
    45% {
        clip: rect(132px, auto, 101px, 30px);
    }
    50% {
        clip: rect(132px, auto, 101px, 30px);
    }
    55% {
        clip: rect(132px, auto, 101px, 30px);
    }
    60% {
        clip: rect(132px, auto, 101px, 30px);
    }
    65% {
        clip: rect(132px, auto, 101px, 30px);
    }
    70% {
        clip: rect(132px, auto, 101px, 30px);
    }
    75% {
        clip: rect(132px, auto, 101px, 30px);
    }
    80% {
        clip: rect(132px, auto, 101px, 30px);
    }
    85% {
        clip: rect(132px, auto, 101px, 30px);
    }
    90% {
      clip: rect(36px, auto, 128px, 30px);
    }
    95% {
      clip: rect(68px, auto, 103px, 30px);
    }
    100% {
      clip: rect(14px, auto, 100px, 30px);
    }
  }
  @keyframes glitch-2 {
    0% {
      clip: rect(129px, auto, 36px, 30px);
    }
    5% {
        clip: rect(129px, auto, 36px, 30px);
    }
    10% {
        clip: rect(129px, auto, 36px, 30px);
    }
    15% {
        clip: rect(129px, auto, 36px, 30px);
    }
    20% {
        clip: rect(129px, auto, 36px, 30px);
    }
    25% {
        clip: rect(129px, auto, 36px, 30px);
    }
    30% {
        clip: rect(129px, auto, 36px, 30px);
    }
    35% {
        clip: rect(129px, auto, 36px, 30px);
    }
    40% {
        clip: rect(129px, auto, 36px, 30px);
    }
    45% {
        clip: rect(129px, auto, 36px, 30px);
    }
    50% {
        clip: rect(129px, auto, 36px, 30px);
    }
    55% {
        clip: rect(129px, auto, 36px, 30px);
    }
    60% {
        clip: rect(129px, auto, 36px, 30px);
    }
    65% {
        clip: rect(129px, auto, 36px, 30px);
    }
    70% {
        clip: rect(129px, auto, 36px, 30px);
    }
    75% {
        clip: rect(129px, auto, 36px, 30px);
    }
    80% {
        clip: rect(129px, auto, 36px, 30px);
    }
    85% {
        clip: rect(129px, auto, 36px, 30px);
    }
    90% {
      clip: rect(67px, auto, 70px, 30px);
    }
    95% {
      clip: rect(71px, auto, 103px, 30px);
    }
    100% {
      clip: rect(83px, auto, 40px, 30px);
    }
  }