#cards {
    position: relative;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.portfolio {
	color:rgb(255, 255, 255);
	font-size: 10vw;
	font-family: 'Megrim', cursive;
	font-weight: bolder;
	/* background-color: #282c34d2; */
	width: 43%;
	position: relative;
	padding-top: 50px;
	left: 30%;
  }

/* code is from https://codepen.io/kw7oe/pen/mPeepv */
.cardImg {
	text-align: center;	
	position: relative;
	cursor: pointer;	
	perspective: 500px; 
    margin-bottom: 20px;
}
.cardImg img {
	width: 27vw;
	height: 27vw;
	position: relative;
	left: 3%;
}

@media screen and (max-width: 575px) {
	#images {
		width: 43%;
		height: 90%;
		position: relative;
		top: 10%;
	} 

	.card {
		height: 50vw;
		margin-left: 20px;
		margin-right: 20px;
	}

    .cardImg{
     width: 100%;
    }

	.cardText {
		font-size: 2.7vw;
		color: white;
		position: relative;
		left: 38vw;
		top: -30vw;
		width: 50%;
	}
}
@media screen and (min-width: 576px) {
	.cardImg .cardText {
		color: white;
		width: 100%;
		height: 100%;	
		/* padding: 5% 8%; */
		position: absolute;
		/* content: ""; */
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) rotateY(90deg);
		transform-origin: 50%;
		background: rgba(39, 39, 39, 0.884);	
		opacity: 0;
		transition: all 0.4s ease-in;
		font-size: 1.8vw;
	}
	.cardImg:hover .cardText {
		transform: translate(-50%, -50%) rotateY(0deg);
		opacity: 1;
		text-align: center;
	} 
}