/* #icons {
    position:relative;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #282c34d2;
    margin-top: 50px;
    width: 200px;
}

a {
    margin-left: 20px;
    color: rgb(40, 179, 189);
} */