body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.contactMe {
  color:rgb(255, 255, 255);
  font-size: 10vw;
  font-family: 'Megrim', cursive;
  font-weight: bolder;
  background-color: #282c34d2;
  width: 40%;
  position: relative;
  padding-top: 50px;
  left: 30%;
}

.idForm {
color: white;
font-family: 'Jura', sans-serif;
font-weight: bold;
margin: 10px;
}

input[type="search"], textarea {    
  background-color :rgb(0, 0, 0);
  border:0px;    
}


