.textBody {
    text-align: center;
    color: white;
    position: relative;
    /* padding-top: 30px; */
    margin-left: 30px;
    margin-right: 30px;
    color: white;
    font-family: 'Jura', sans-serif;
    font-size: 1.3rem;
    background-color: #282c34d2;
    padding: 0 !important;
    top: 120px;
}

.selfie {
    margin-bottom: 0;
    margin-top: 0;
    top: 80px;
    left: 40%;
    position: relative;
    border-radius: 100%;
    width: 200px;
    box-shadow: 5px 5px 5px rgb(2, 2, 2);
    color: #282c34;
}

#contactLink {
    margin: 0;
    padding: 0;
}