.textBody {
    text-align: center;
    color: white;
    position: relative;
    padding-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    color: white;
    font-family: 'Jura', sans-serif;
}

.selfie {
    margin-top: 80px;
    border-radius: 100%;
    width: 200px;
    box-shadow: 5px 5px 5px rgb(2, 2, 2);
}